@model IEnumerable<DiceGame.Models.User>

@{
    ViewBag.Title = "AllUsers";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script src="Script/js.js"></script>
        <link href="Content/css.css" rel="stylesheet">*@
    <style>
        .red {
            color: red;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: 30px;
            text-align: center;
        }
    </style>
</head>

<br />
@{if (!string.IsNullOrEmpty(Session["username"] as string))
    {<div style="float:right">
            <h3>
                <b>
                    @Html.ActionLink("Exit", "logout", "Login")
                </b>
            </h3>
        </div>
        <b><h2>Wellcome @Session["username"]</h2></b>

    }
    else
    {
        <div style="float:right">
            <h3>
                <b>
                    @Html.ActionLink("signup", "signUp", "Login") / @Html.ActionLink("login", "login", "Login")
                </b>
            </h3>

        </div>
    }
}
<br><br>

<div class="jumbotron">
    <p>Online Users</p>
    <div class="row">
        @foreach (var z in Model.ToList())
        {
            <div class="card col-sm-3">
                @{if (!string.IsNullOrEmpty(Session["friends"] as string))
                    {
                        List<string> friends = (List<string>)Session["friends"];
                        var flag = 0;
                        foreach (var f in friends)
                        {
                            if (z.UserName == f)
                            {
                                flag = 1;
                            }
                        }
                        if (flag == 0)
                        {

                            <dt><p>@Html.DisplayFor(m => z.UserName);</p></dt>
                            <input type="button" name="addFriend" value="Add friend+" onclick="location.href='@Url.Action("AddFriend2", "Home")?username=' + @z.UserName class="btn btn-success btn-xs" />

                        }
                        else if (!string.IsNullOrEmpty(Session["username"] as string))
                        {


                            <dt><p>@Html.DisplayFor(m => z.UserName)</p></dt>
                            <input type="button" name="addFriend" value="Add friend+" onclick="location.href='@Url.Action("AddFriend1", "Home")?username=' + @z.UserName" class="btn btn-success btn-xs" />

                        }
                        else
                        {
                            <div class="red">
                                <dt>
                                    <p>
                                        @Html.DisplayFor(m => z.UserName)
                                    </p>
                                </dt>
                            </div>
                        }
                        <p><dd>score :@Html.DisplayFor(m => z.RateTotal)</dd></p>
                        <p><dd>win :@Html.DisplayFor(m => z.WinNum)</dd></p>

                    }

                    else if (!string.IsNullOrEmpty(Session["username"] as string))
                    {


                        <p><dt>@Html.DisplayFor(m => z.UserName)</dt></p>
                        <p><dd>score :@Html.DisplayFor(m => z.RateTotal)</dd></p>
                        <p><dd>win :@Html.DisplayFor(m => z.WinNum)</dd></p>
                        <input type="button" name="addFriend" value="Add friend+" onclick="location.href='@Url.Action("AddFriend1", "Home")?username=' + @z.UserName" class="btn btn-success btn-xs" />

                    }
                    else
                    {

                        <p><dt>@Html.DisplayFor(m => z.UserName)</dt></p>
                        <dd>score :@Html.DisplayFor(m => z.RateTotal)</dd>
                        <dd>win : @Html.DisplayFor(m => z.WinNum)</dd>


                    }
                }

            </div>
        }

    </div>

</div>
