@model IEnumerable<DiceGame.Models.UserComment>
@{
    ViewBag.Title = "UserReview";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    .checked {
        color: orangered
    }
</style>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>User Review</h3>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
        @foreach (var z in Model.ToList())
        {
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong> @Html.DisplayFor(m => z.CommenterUser)</strong> <span class="text-muted">commented about @Html.DisplayFor(m => z.User)</span>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(m => z.Comment)
                        <div class="rate">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        Panel content

                    </div><!-- /panel-body -->
                    <div class="panel-footer">
                  
                            <input type="button" value="accept" onclick="location.href='@Url.Action("AcceptUserReview", "Review")?id=' + @z.Id" />
                            <input type="button" value="Decline" onclick="location.href='@Url.Action("DeclineUserReview", "Review")?id=' + @z.Id" />
                       
                    </div><!-- /panel-footer -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
        }
        </div><!-- /row -->
</div><!-- /container -->
