@model DiceGame.Models.User
@{
    ViewBag.Title = "signUp";
}

<h2>signUp</h2>

@using (Html.BeginForm("signup", "Login"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName , new { @class = "form-control" } )
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender)
        @Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDay)
        @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

}